//
   Created by Manolo on 30/07/2015.

extends ../layout

block content
    h3 #{tema_mostrar}
    form(method="get", action="/quizes")
        label(for="bus", class="rem") Buscador de preguntas:
        input(type="text", id="preg_bus", name="search")
        input(type="submit", value="Buscar")

    #listapreguntas(align="center")
        table(align="center")
            - for (var i=0; i < quizes.length; i++)
                tr(width="100%")
                    td(align="center")
                        - var enlace = "../quizes/" + quizes[i].id;
                        a(href=enlace) #{quizes[i].pregunta}
                    td(align="center")
                        - var enlaceEdit = "../quizes/" + quizes[i].id + "/edit";
                        a(href=enlaceEdit)
                            button Editar
                    td(align="center")
                        - var accionDelete = "../quizes/" + quizes[i].id + "?_method=delete";
                        - var confirm= "return confirm('Borrar:" + quizes[i].pregunta + "');"
                        form(method="post", action=accionDelete)
                            button(type="submit", onClick=confirm) Borrar

    a(href="/quizes/new")
        button(type="button") Crear pregunta