extends ../layout

block content
    h3
    - var accion = "/quizes/" + quiz.id + "/answer";
      form(method="get",action=accion)
          p Pregunta: #{quiz.pregunta}
          input(type="text",name="respuesta", value="Responda aqui")
          input(type="submit",value="Enviar")
      - var enlaceComentario = "/quizes/" + quiz.id + "/comments/new";
      a(href=enlaceComentario)
        button Nuevo Comentario
      p Comentarios:
      - for (index in quiz.Comments)
        - if (quiz.Comments[index].publicado || session.user)
            span #{quiz.Comments[index].texto}
            - if (session.user && !quiz.Comments[index].publicado){
            - enlacePublish = "/quizes/" + quiz.id + "/comments/" + quiz.Comments[index].id + "/publish";
                a(href=enlacePublish)
                    button Publicar
            - }